:root {
  --accent_color: #57d198;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes shadow_in {
  0% {
    text-shadow: 0vmin 0vmin 0vmin var(--accent_color);
  }
  100% {
    text-shadow: 1vmin -1vmin 0.7vmin var(--accent_color);
  }
}

.scene_element {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element__long {
  animation-duration: 0.75s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_animation__fadein {
  animation-name: fadeIn;
}

.scene_animation__fadeinright {
  animation-name: fadeInRight;
}

.scene_animation__fadeinleft {
  animation-name: fadeInLeft;
}

.scene_animation__fadeinup {
  animation-name: fadeInUp;
}

.scene_animation__shadow {
  animation-name: shadow_in;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.75s;
}

.zoom_in:hover {
  transform: scale(1.04);
}

.zoom_in {
  transition: all 0.4s ease;
}

.zoom_in_2 {
  transition: all 0.7s ease;
}

.zoom_in_2:hover {
  transform: scale(1.04);
}
