:root {
  --main-color: #203e49;
  --main-color_light: #6e98a8;
  --main-color_dark: #0a2029;
  --main-color_card-bg: #95b2bd;
  --accent_color: #57d198;

  --html-color: #d4e1e6;

  --font_1: 'Poppins', sans-serif;
  --font-color: #0a2029;
}

li {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid var(--accent_color) !important;
}

html {
  font-family: var(--font_1) !important;
}

body {
  font-family: var(--font_1) !important;
}

a {
  text-decoration: none !important;
  color: var(--font-color);
}

a:hover {
  color: var(--accent_color);
}

input,
label {
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

body.bg_home {
  background: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}

body.bg_resume {
  background-color: var(--main-color_light) !important;
}

body.bg_projects {
  background-color: var(--main-color_light) !important;
}

.navbar-title {
  font-weight: 900 !important;
  display: inline;
  color: var(--font-color) !important;
  font-size: 4vmin;
}

#square-nav-title {
  width: 2.3vmin;
  height: 2.3vmin;
  background-color: var(--accent_color);
  display: inline-flex;
  margin-bottom: 0.08rem;
}

#square-crad {
  width: 2.3vmin;
  height: 5vmin;
  background-color: var(--accent_color);
  display: inline-flex;
}

.navbar-title_light {
  font-weight: 200 !important;
  font-size: 2.3vmin !important;
  display: inline;
  color: var(--font-color) !important;
}

.navbar-link {
  font-weight: 200;
  font-size: 2.3vmin;
  color: var(--font-color) !important;
}

.navbar {
  background-color: white !important;
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}

.div_spacer {
  height: 35vmin;
  width: 100%;
}

.img-size {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.name-card {
  font-weight: 800 !important;
  color: white !important;
}

.card-divider {
  border: 2.5px solid var(--accent_color) !important;
  border-radius: 1.25px;
  width: 15% !important;
  margin: auto !important;
  margin-top: 4vmin !important;
}

.card-subtitle {
  font-weight: 200;
  font-size: 2.5vmin;
  color: white !important;
  margin-top: 4rem;
}

.card-bg {
  background-color: var(--main-color_card-bg);
}

.icon-container {
  background-color: white !important;
  color: var(--font-color) !important;
}

.title-card {
  font-weight: 800;
  font-size: 7vmax;
  color: var(--font-color) !important;
}

p.card-subtitle {
  font-weight: normal !important;
  font-size: x-large !important;
  color: var(--font-color) !important;
}

.btn-style_1 {
  background-color: var(--accent_color) !important;
  color: white !important;
  border-radius: 20px;
  border: 1px solid var(--accent_color);
}

.btn-style_2 {
  background-color: white !important;
  color: var(--font-color) !important;
  border-radius: 20px;
  border: 1px solid var(--main-color_light);
}

.text-card {
  color: var(--);
  font-weight: 200;
}

.footer {
  background-color: white !important;
  color: var(--main-color_dark) !important;
  margin-top: 20vmin;
  padding: 4vmin;
}

.footer-title {
  font-weight: bold !important;
  font-size: 1.5vmin !important;
  margin-bottom: 0;
}

.footer-text {
  font-weight: 200;
  font-size: 1.5vmin;
  margin-bottom: 0;
}

.page-title_resume {
  display: inline !important;
  font-weight: 800;
  font-size: 7vmin;
  color: white;
}

.experience-date {
  font-weight: 600;
  color: var(--accent_color);
  font-size: 2.85vmin;
}

.job-position {
  font-weight: 400;
  color: var(--main-color_dark);
  font-size: 2.6vmin;
}

.company-details {
  font-weight: 200;
  color: var(--main-color_dark);
  font-size: 2.2vmin;
}

.card-padding {
  padding: 6.5vmin;
}

.job-description {
  font-weight: 200;
  color: var(--main-color_dark);
  font-size: 2.35vmin;
}

.experience-text {
  color: white;
}

.margin-custom {
  margin-top: 6.5vmin !important;
}

.white-text {
  color: white;
}

.project-title {
  font-weight: 700;
  color: var(--accent_color);
  font-size: 4.5vmin;
  display: inline;
}

.project-role {
  font-weight: 200 !important;
  font-size: 2.3vmin !important;
  display: inline;
  color: var(--main-color_dark) !important;
}

.project-description {
  font-weight: 200;
  font-size: 2.5vmin;
  color: var(--main-color_dark);
}

.bg_contacts {
  background-color: var(--main-color_light);
}

.custom-border {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: var(--main-color_dark);
  border-width: 2px;
  width: 100%;
}

.custom-border:hover {
  border-color: var(--accent_color);
}

.custom-border:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: var(--accent_color);
  border-width: 2px;
}

.custom-label {
  color: var(--main-color);
  font-weight: 400;
  font-size: 2vmin;
}

.bg-primary {
  background-color: var(--accent_color) !important;
}

.competenze-title {
  font-weight: 600 !important;
  color: var(--main-color_dark);
  font-size: 2.65vmin;
}

.competenze-subtitle {
  font-weight: 400 !important;
  color: var(--main-color_dark);
  font-size: 2vmin;
}

.competenze-pill {
  font-weight: 400;
  color: white;
}

.scene_element {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element__long {
  animation-duration: 0.75s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_animation__fadein {
  animation-name: fadeIn;
}

.scene_animation__fadeinright {
  animation-name: fadeInRight;
}

.scene_animation__fadeinleft {
  animation-name: fadeInLeft;
}

.scene_animation__fadeinup {
  animation-name: fadeInUp;
}

@media (max-width: 1000px) {
  .hidden {
    display: none;
  }

  .card {
    margin-left: 6.5vmin;
    margin-right: 6.5vmin;
  }

  .padding-xs {
    padding-left: 6.5vmin !important;
    padding-right: 6.5vmin !important;
  }

  .txt-center-sm {
    text-align: center !important;
  }

  .bg_home {
    background-image: url('../images/background_sm.png') !important;
  }

  .experience-text {
    margin-left: 6.5vmin;
  }

  .margin-xs {
    padding-right: 6.5vmin;
  }

  .competenze-pill {
    font-size: 2vmin;
  }

  .card-subtitle {
    margin-top: 2.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
