    /*-----------------------------------ID/*-----------------------------------*/
    
    #title {
        background-color: #2b6777;
        color: white;
    }
    
    #istruzione {
        position: relative;
    }
    
    #skills {
        padding: 150px;
        text-align: center;
    }
    
    #contacts {
        padding: 5% 10%;
        text-align: center;
    }
    
    #footer {
        text-align: center;
    }
    
    #contacts,
    #esperienze {
        color: white;
        text-align: center;
        background-color: #52ab98;
    }
    
    #footer,
    #istruzione {
        background-color: white;
        padding: 7% 15%;
    }
    /*-----------------------------------TAG/*-----------------------------------*/
    
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        color: #2b6777;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h2,
    h3 {
        font-weight: bold;
    }
    
    body,
    h3,
    h2 {
        font-family: 'Montserrat', sans-serif;
    }
    
    a {
        text-decoration: none;
        color: #2b6777;
    }
    /*-----------------------------------CLASSI/*-----------------------------------*/
    
    #title.h1-title {
        size: 3.5rem;
        line-height: 1.5;
        font-weight: 900;
    }
    
    .container-fluid {
        padding: 3% 15% 5%;
    }
    
    .navbar-brand {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        color: #c8d8e4;
    }
    
    .navbar {
        padding: 0 0 4.5rem;
    }
    
    .nav-item {
        padding: 0 10px;
    }
    
    .nav-link {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .button-contact-me {
        margin: 5% 3% 5% 0;
    }
    
    .button-contact-me:hover {
        background-color: #81caba;
    }
    
    .feature-box {
        text-align: center;
        padding: 5%;
    }
    
    .feature-icon {
        color: #1d4550;
        margin-bottom: 1rem;
    }
    
    .feature-icon:hover {
        color: #4d8494;
        opacity: 85%;
    }
    
    .feature-text:hover {
        opacity: 85%;
    }
    
    .feature-text {
        color: #2b6777;
    }
    
    .testimonial-image {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }
    
    .carousel-item {
        padding: 7% 15%;
    }
    
    .pricing-col {
        padding: 3% 2%;
    }
    
    .cta-title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0 10%;
        padding-bottom: 4%;
    }
    
    .copyright-text {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1%;
        margin-bottom: 0;
    }
    
    .copyright-text:hover {
        color: #4d8494;
    }
    
    .social-icon {
        margin: 0 1.5%;
        text-decoration: none;
        color: #2b6777;
    }
    
    .social-icon:hover {
        color: #4d8494;
    }
    
    .profile-picture {
        border-radius: 100%;
        width: 35%;
        margin-left: 60%;
    }
    
    .descrizione-subtitle-cta,
    .descrizione-subtitle,
    .copyright-text,
    .nav-link {
        font-family: 'Montserrat', sans-serif;
    }
    
    .h1-title {
        font-family: 'Whisper', cursive;
        font-size: 3rem;
    }
    
    .descrizione-subtitle-cta,
    .descrizione-subtitle {
        font-size: 1.3rem;
        font-weight: 300;
        color: white;
    }
    
    .descrizione-subtitle-cta {
        padding: 1% 7%;
        font-size: 1.25rem;
    }
    
    .envelope-icon-btn-download {
        padding: 5px;
    }
    
    .istruzione-title {
        text-align: center;
        margin-bottom: 7%;
        color: #1d4550;
    }
    
    .esperienze-title {
        font-size: 1.5rem;
        color: white;
        margin: 5%;
    }
    
    .descrizione-description {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
        margin: 1%;
    }
    
    .skill-level {
        color: #52ab98;
        font-size: 1.4rem;
    }
    
    .skill-title {
        color: white;
        font-size: 1.7rem;
    }
    
    .skills-header {
        color: #2b6777;
        margin-bottom: 3%;
    }
    
    .esperienze-header {
        color: white;
        padding-top: 5%;
    }
    
    .card-header {
        background-color: #52ab98;
    }
    
    .skills-container {
        padding: 3% 10% 7%;
    }
    /* media query*/
    
    @media (max-width: 900px) {
        .img-title {
            display: none;
        }
        #title {
            text-align: center;
        }
    }